* {
    margin: 0;
    padding: 0;
}

#answer {
    background-color: #EBFDE9;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title {
    font-size: 30px;
    text-align: center;
}

.consent{
    font-size: 15px;
    text-align: center;
}